@import "tailwindcss";

.swiper-pagination-bullet {
  background-color: #ccc;
  opacity: 0.6;
}
.swiper-pagination-bullet-active {
  background-color: #00c0b5 !important;
  opacity: 1;
}

:root {
  --primary-color: #00c0b5;
  --background-color: #f8f9fa;
}

.provider-theme {
  --primary-color: #0084bf;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}